<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout_double_sidebar}">
    <head>
        <title th:text="${test.name}"></title>
    </head>
    <body>        
        <div layout:fragment="sidebar" th:insert="/fragments/sidebar::sidebar('announcements')"></div>      
        
        <div layout:fragment="content">        
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${test.name}"></h1>
            </div>     

			<form th:action="@{/tests/{id}(id=${test.id}, student_id=${student.id})}" th:object="${answers}" method="POST">
	            <div class="card mb-3" th:each="question:${test.testQuestions}">
	                <div class="card-header" th:text="${question.questionText}"></div>
	                <div class="card-body">
	
	               		<div class="form-check" th:each="option:${question.questionOptions}">
	 						<input class="form-check-input" type="checkbox" th:field=*{map[__${question.id}__]} th:value="${option.id}" th:id="${'check'+option.id}">
	 						<label class="form-check-label"th:for="${'check'+option.id}" th:text="${option.text}"></label>
						</div>
	                							
	                </div>
	            </div>
	            
	            <div class="d-flex justify-content-end">
	            	<input type="submit" class="btn btn-primary" value="Submit">
	            </div>
            </form>
        </div> 
        
    </body>
</html>