<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head>
        <title>Messages - Outbox</title>
    </head>
    <body>
        <div layout:fragment="sidebar" th:insert="/messages/fragments/sidebar::sidebar('outbox')"></div>
        <div layout:fragment="content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Outbox</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a class="btn btn-sm btn-primary" th:href="@{/messages/new_message}" role="button">New Message</a>
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="row border p-2 bg-primary text-white font-weight-bold">
                    <div class="col-2 border-right">To</div>
                    <div class="col-8 border-right">Subject</div>
                    <div class="col-2">Time</div>
                </div>
                <div id="messages">
                    <a class="text-decoration-none text-muted" th:each="msg:${messages}" th:href="@{/messages/{id}(id=${msg.id})}">
                        <div class="row border border-top-0 p-2">
                            <div class="col-2 border-right" th:text="${msg.receiverName}"></div>
                            <div class="col-8 border-right" th:text="${msg.subject}"></div>
                            <div class="col-2" th:text="${msg.timestamp}"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>