<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
    <head>
        <title>Students</title>
    </head>
    <body>
        <div layout:fragment="sidebar" th:insert="/administrator/fragments/sidebar::sidebar('students')"></div>
        
        <div layout:fragment="content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Students</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a class="btn btn-sm btn-primary" th:href="@{/administrator/students/new}" role="button">Create new Student</a>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <select class="form-control-sm" name="sort" onchange="this.form.submit()">
                        <option value="">Sort by...</option>
                        <option value="id,asc">id asc</option>
                        <option value="id,desc">id desc</option>
                        <option value="firstName,asc">First Name asc</option>
                        <option value="firstName,desc">First Name desc</option>
                        <option value="lastName,asc">Last Name asc</option>
                        <option value="lastName,desc">Last Name desc</option>
                        <option value="parent,asc">parent asc</option>
                        <option value="parent,desc">parent desc</option>
                        <option value="schoolClass,asc">class asc</option>
                        <option value="schoolClass,desc">class desc</option>
                    </select>
                </div>
            </form>
            
       <!--     <div class="row">
                <div class="col-4" th:each="student:${user.schoolClass?.students}">
                    <div class="card mb-3">

                            <img class="card-img-top" th:src="@{/avatar/{studId}(studId=${student.id})}" />

                        <div class="card-header" th:text="${student.firstName+' '+student.lastName}"></div>
                        <div class="card-body">
                            <a  class="btn btn-sm btn-primary"th:if="${student.parent != null}" th:href="@{/messages/new_message(receiverId=${student.parent?.id})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                <span th:text="${student.parent?.username}"></span>
                            </a>
                            
                            <a class="btn btn-sm btn-primary" th:href="@{/teacher/student(id=${student.id})}">                                    
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                Details
                            </a>
                        </div>
                    </div>
                </div>               
            </div> -->
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Parent</th>
                            <th>Class</th>                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${page.content}">
                            <td th:text="${student.id}" />
                            <td th:text="${student.firstName+' '+ student.lastName}" />
                            <td th:text="${student.parent?.username}" />
                            <td th:text="${student.schoolClass?.name}" />
                            <td>                        
                                <a class="btn btn-sm btn-outline-secondary" th:href="@{/administrator/students/edit(student_id=${student.id})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                    Edit
                                </a>
                                <a class="btn btn-sm btn-outline-danger" th:href="@{/administrator/students/delete(student_id=${student.id})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            
            <nav>
                <ul class="pagination justify-content-end" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
                    <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                        <a class="page-link" th:href = "@{/administrator/students(page=${page.number lt 1 ? 0 : page.number-1},sort=${sortParam})}">Previous</a>
                    </li>
                    <li class="page-item" th:each = "i: ${#numbers.sequence(1, page.totalPages, 1)}" th:classappend="${i eq page.number+1}? 'active'">
                        <a class="page-link" th:href="@{/administrator/students(page=${i-1},sort=${sortParam})}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages } ? 'disabled'">
                        <a class="page-link" th:href="@{/administrator/students(page=${page.number+1},sort=${sortParam})}">Next</a>                        
                    </li>                    
                </ul>
            </nav>           
        </div>
    </body>
</html>
