<div th:fragment="sidebar(activeNav)">
	<button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
    	<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
  	</button>
	<nav id="sidebar-menu" class="collapse">             
        <ul class="nav flex-column">  
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" th:classappend="${activeNav eq 'home'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    Dashboard                 
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" th:href="@{/students}"  th:classappend="${activeNav eq 'students'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    <span sec:authorize="hasAuthority('TEACHER')">Students</span>
                    <span sec:authorize="hasAuthority('PARENT')">Children</span>
                </a>
            </li> 
            
            <li class="nav-item" sec:authorize = "hasAuthority('TEACHER')">
                <a class="nav-link d-flex align-items-center" th:href="@{/tests}" th:classappend="${activeNav eq 'tests'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    Tests 
                </a>
            </li>                    

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" th:href="@{/open_door}" th:classappend="${activeNav eq 'open_door'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    Open door   
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" th:href="@{/announcements}" th:classappend="${activeNav eq 'announcements'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    Announcements   
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" th:href="@{/timetable}" th:classappend="${activeNav eq 'timetable'} ? 'active'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    Timetable                            
                </a>                       
            </li>
        </ul>
	</nav>
</div>