<!DOCTYPE html>
<html layout:decorate="~{layouts/layout_double_sidebar}">
    <head>
        <title>Open Door</title>
    </head>
    <body>
        <div layout:fragment="sidebar" th:insert="/fragments/sidebar::sidebar('open_door')"></div>

        <div layout:fragment="content">            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Open Door</h1>
            </div>
            <div class="row">
                <th:block th:if="${isParent == true}">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">New Open Door Request</div>
                            <div class="card-body">
                                <form th:action="@{/open_door/new}" th:object="${openDoorDTO}" method="POST">
                                    <div class="form-group">
                                        <label for="date">Date and time</label>
                                        <input id="date" type="datetime-local" class="form-control" th:field="*{date}">
                                    </div>
                                    <div class="form-group">
                                        <label for="teacher">Teacher</label>
                                        <select id="teacher" class="form-control" th:field="*{teacherId}">
                                            <option th:each="teacher: ${receivers}" th:value="${teacher.id}" th:text="${teacher.username}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group d-flex justify-content-end">
                                        <input type="hidden" name="parentId" th:value="${user.id}">
                                        <input type="submit" class="btn btn-primary" value="Send">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
                <div class="col-md">
                <th:block th:each="req:${requests}">
                    <div class="card mb-3">
                        <div class="card-header">
                            <th:body th:if="${isParent == true}" th:text="${'To: ' + req.teacher?.username }"></th:body>
                            <th:body th:if="${isTeacher == true}" th:text="${'From: ' + req.parent?.username }"></th:body>
                        </div>
                        <div class="card-body"th:text="${'When: ' + #dates.format(req.date, 'dd MMMM YYYY -  HH:mm')}"></div>
                        <th:blcok th:if="${req.isAccepted!=null}">
                            <div class="card-footer font-weight-bold d-flex justify-content-center" th:classappend="${req.isAccepted? 'bg-success text-white':'bg-danger text-white '}">
                                <th:block th:if="${req.isAccepted != null and req.isAccepted == true}">Accepted</th:block>
                                <th:block th:if="${req.isAccepted != null and req.isAccepted == false}">Rejected</th:block>
                            </div>
                        </th:blcok>
                        <th:blcok th:if="${isTeacher == true and req.isAccepted == null}">
                            <div class="card-footer">
                                <a th:href="@{open_door/{id}(id=${req.id}, status='accept')}" class="btn btn-success">Accept</a>
                                <a th:href="@{open_door/{id}(id=${req.id}, status='reject')}" class="btn btn-danger">Reject</a>
                            </div>
                        </th:blcok>
                        <th:block th:if="${isParent == true and req.isAccepted == null}">
                            <div class="card-footer">
                                <th:block th:if="${req.isAccepted == null}">Not yet reviewed</th:block>
                            </div>
                        </th:block>
                    </div>
                </th:block>
                </div>
            </div>            
        </div>
        
    </body>
</html>